import pandas library to read a csv file

In [1]:
import pandas as pd
import matplotlib 
from matplotlib import pyplot as plt
df = pd.read_csv (r'C:\Users\prati\OneDrive\Desktop\data class\capstone_project\FETCH REWARDS SUMMARY.csv')
print(df)

    TRANSACTION_NUMBER TRANSACTION_DATE                      STORE_NAME  \
0                    1       01/15/2022                   REMKE MARKETS
1                    2       01/15/2022                             CVS
2                    3       01/16/2022                      APPLEBEE’S
3                    4       01/18/2022                             CVS
4                    5       01/25/2022                          COSTCO
..                 ...              ...                             ...
92                  93       09/20/2022                        SPEEDWAY
93                  94       09/21/2022                      MCDONALD’S
94                  95       09/30/2022                          COSTCO
95                  96       09/30/2022                          KROGER
96                  97       09/30/2022  MAHARAJA INTERNATIONAL GROCERY

    NUMBER_OF_ITEMS  TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED  \
0                 9                  30.19                    25
1                 2                  22.87                    25
2                 9                  72.98                    25
3                 1                  10.91                    25
4                41                 501.94                   214
..              ...                    ...                   ...
92                1                  54.90                    25
93                2                  10.15                    25
94               18                 203.04                    25
95               12                  61.40                    25
96                7                  42.59                    25

   SPECIAL_OFFER_BONUS(Y/N) EXCEPTION
0                         N       NaN
1                         N       NaN
2                         N       NaN
3                         N       NaN
4                         Y       NaN
..                      ...       ...
92                        N       NaN
93                        N       NaN
94                        N       NaN
95                        N       NaN
96                        N       NaN

[97 rows x 8 columns]

format the transaction date

In [2]:
df['TRANSACTION_DATE'] = pd.to_datetime(df['TRANSACTION_DATE']) # format to correct datetime
print(df)

    TRANSACTION_NUMBER TRANSACTION_DATE                      STORE_NAME  \
0                    1       2022-01-15                   REMKE MARKETS
1                    2       2022-01-15                             CVS
2                    3       2022-01-16                      APPLEBEE’S
3                    4       2022-01-18                             CVS
4                    5       2022-01-25                          COSTCO
..                 ...              ...                             ...
92                  93       2022-09-20                        SPEEDWAY
93                  94       2022-09-21                      MCDONALD’S
94                  95       2022-09-30                          COSTCO
95                  96       2022-09-30                          KROGER
96                  97       2022-09-30  MAHARAJA INTERNATIONAL GROCERY

    NUMBER_OF_ITEMS  TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED  \
0                 9                  30.19                    25
1                 2                  22.87                    25
2                 9                  72.98                    25
3                 1                  10.91                    25
4                41                 501.94                   214
..              ...                    ...                   ...
92                1                  54.90                    25
93                2                  10.15                    25
94               18                 203.04                    25
95               12                  61.40                    25
96                7                  42.59                    25

   SPECIAL_OFFER_BONUS(Y/N) EXCEPTION
0                         N       NaN
1                         N       NaN
2                         N       NaN
3                         N       NaN
4                         Y       NaN
..                      ...       ...
92                        N       NaN
93                        N       NaN
94                        N       NaN
95                        N       NaN
96                        N       NaN

[97 rows x 8 columns]

delete rows that has 0 as value for fetch rewards earned

In [4]:
for rewards in df.index:
    if df.loc[rewards, 'FETCH_REWARDS_EARNED'] == 0: #remove rows where fetch rewards earned =0
        df.drop(rewards, inplace = True) #replace with new data 
print(df)

    TRANSACTION_NUMBER TRANSACTION_DATE                      STORE_NAME  \
0                    1       2022-01-15                   REMKE MARKETS
1                    2       2022-01-15                             CVS
2                    3       2022-01-16                      APPLEBEE’S
3                    4       2022-01-18                             CVS
4                    5       2022-01-25                          COSTCO
..                 ...              ...                             ...
92                  93       2022-09-20                        SPEEDWAY
93                  94       2022-09-21                      MCDONALD’S
94                  95       2022-09-30                          COSTCO
95                  96       2022-09-30                          KROGER
96                  97       2022-09-30  MAHARAJA INTERNATIONAL GROCERY

    NUMBER_OF_ITEMS  TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED  \
0                 9                  30.19                    25
1                 2                  22.87                    25
2                 9                  72.98                    25
3                 1                  10.91                    25
4                41                 501.94                   214
..              ...                    ...                   ...
92                1                  54.90                    25
93                2                  10.15                    25
94               18                 203.04                    25
95               12                  61.40                    25
96                7                  42.59                    25

   SPECIAL_OFFER_BONUS(Y/N) EXCEPTION
0                         N       NaN
1                         N       NaN
2                         N       NaN
3                         N       NaN
4                         Y       NaN
..                      ...       ...
92                        N       NaN
93                        N       NaN
94                        N       NaN
95                        N       NaN
96                        N       NaN

[89 rows x 8 columns]

In [14]:
from matplotlib import pyplot as plt
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
df['months'] = pd.Categorical(df['months'], categories=months, ordered=True)
df.sort_values(...)  # same as you have now; can use inplace=True
monthly_expense = df.groupby(df['TRANSACTION_DATE'].dt.strftime('%B'))['TOTAL_AMOUNT_SPENT($)'].sum().sort_values()

print(monthly_expense)

plt.plot(monthly_expense)
plt.xlabel('TRANSACTION MONTH')
plt.ylabel('TOTAL AMOUNT SPENT')
plt.title('MONTHLY EXPENSE REPORT')

KeyError: 'months'

In [26]:
expenses_by_store = df.groupby(df['STORE_NAME'])['TOTAL_AMOUNT_SPENT($)'].sum().sort_values()
print(expenses_by_store)

STORE_NAME
USPS                                 1.49
SUPER QUIK                           2.99
COLD STONE CREAMERY                  3.00
PAY EACH TIME YOU PARK               5.00
CITY BIRD                            9.87
BATH & BODY WORKS                   15.85
PANERA                              17.06
STARBUCKS                           19.03
J.CREW                              19.07
MCDONALD’S                          32.68
MAI THAI RESTAURANT SUSHI BAR       36.98
BURGER KING                         41.50
THE CHEESECAKE FACTORY              41.51
DOMINO’S PIZZA                      43.40
CARTER’S SUPERMARKET                44.83
MACY’S                              45.99
FAMILY PRACTICE CENTER              50.00
DILLARD’S                           52.99
MAHARAJA INTERNATIONAL GROCERY      55.57
SHELL                               69.82
APPLEBEE’S                          72.98
VICTORIA’S SECRET                  100.70
CENTRAL MARKET                     103.10
THAWNG ASIAN GROCERY               109.39
COSTCO FUEL                        117.97
OLIVE GARDEN                       126.66
TARGET                             133.34
THE HOME DEPOT                     169.09
SPEEDWAY                           179.18
CVS                                261.76
REMKE MARKETS                      680.32
KROGER                             959.59
COSTCO                            2885.56
Name: TOTAL_AMOUNT_SPENT($), dtype: float64

In [9]:
total_spent_by_store = df.groupby(['STORE_NAME']).sum() # sum by each store
print(f'Total spent by store{total_spent_by_store}')

Total spent by store                                TRANSACTION_NUMBER  NUMBER_OF_ITEMS  \
STORE_NAME
APPLEBEE’S                                       3                9
BATH & BODY WORKS                               82                6
BURGER KING                                     12               11
CARTER’S SUPERMARKET                            21                3
CENTRAL MARKET                                  65               27
CITY BIRD                                       18                1
COLD STONE CREAMERY                             19                1
COSTCO                                         626              202
COSTCO FUEL                                    116                2
CVS                                            638               28
DILLARD’S                                       51                3
DOMINO’S PIZZA                                  38                6
FAMILY PRACTICE CENTER                          49                2
J.CREW                                          52                7
KROGER                                         263              214
MACY’S                                         142                3
MAHARAJA INTERNATIONAL GROCERY                 173                9
MAI THAI RESTAURANT SUSHI BAR                   43                1
MCDONALD’S                                     107               11
OLIVE GARDEN                                   114               22
PANERA                                          55                5
PAY EACH TIME YOU PARK                          42                1
REMKE MARKETS                                  718              167
SHELL                                           22                1
SPEEDWAY                                       118                4
STARBUCKS                                       51                3
SUPER QUIK                                      41                1
TARGET                                          79               14
THAWNG ASIAN GROCERY                           166               29
THE CHEESECAKE FACTORY                          61                1
THE HOME DEPOT                                 218                9
USPS                                            53                2
VICTORIA’S SECRET                               48               10

                                TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED
STORE_NAME
APPLEBEE’S                                      72.98                    25
BATH & BODY WORKS                               15.85                    25
BURGER KING                                     41.50                    25
CARTER’S SUPERMARKET                            44.83                    25
CENTRAL MARKET                                 103.10                    35
CITY BIRD                                        9.87                    25
COLD STONE CREAMERY                              3.00                    25
COSTCO                                        2885.56                  1681
COSTCO FUEL                                    117.97                    50
CVS                                            261.76                   447
DILLARD’S                                       52.99                    25
DOMINO’S PIZZA                                  43.40                    25
FAMILY PRACTICE CENTER                          50.00                    50
J.CREW                                          19.07                    25
KROGER                                         959.59                  1266
MACY’S                                          45.99                    50
MAHARAJA INTERNATIONAL GROCERY                  55.57                    50
MAI THAI RESTAURANT SUSHI BAR                   36.98                    25
MCDONALD’S                                      32.68                    50
OLIVE GARDEN                                   126.66                   350
PANERA                                          17.06                    25
PAY EACH TIME YOU PARK                           5.00                    25
REMKE MARKETS                                  680.32                   450
SHELL                                           69.82                    25
SPEEDWAY                                       179.18                   400
STARBUCKS                                       19.03                    50
SUPER QUIK                                       2.99                    25
TARGET                                         133.34                    25
THAWNG ASIAN GROCERY                           109.39                    85
THE CHEESECAKE FACTORY                          41.51                    25
THE HOME DEPOT                                 169.09                   125
USPS                                             1.49                   625
VICTORIA’S SECRET                              100.70                    25

C:\Users\prati\AppData\Local\Temp\ipykernel_13840\1461297576.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_spent_by_store = df.groupby(['STORE_NAME']).sum() # sum by each store

In [49]:
total_spent_by_store = df.groupby(['STORE_NAME'])['FETCH_REWARDS_EARNED'].sum() # sum by each store
print(total_spent_by_store)

STORE_NAME
APPLEBEE’S                          25
BATH & BODY WORKS                   25
BURGER KING                         25
CARTER’S SUPERMARKET                25
CENTRAL MARKET                      35
CITY BIRD                           25
COLD STONE CREAMERY                 25
COSTCO                            1681
COSTCO FUEL                         50
CVS                                447
DILLARD’S                           25
DOMINO’S PIZZA                      25
FAMILY PRACTICE CENTER              50
J.CREW                              25
KROGER                            1266
MACY’S                              50
MAHARAJA INTERNATIONAL GROCERY      50
MAI THAI RESTAURANT SUSHI BAR       25
MCDONALD’S                          50
OLIVE GARDEN                       350
PANERA                              25
PAY EACH TIME YOU PARK              25
REMKE MARKETS                      450
SHELL                               25
SPEEDWAY                           400
STARBUCKS                           50
SUPER QUIK                          25
TARGET                              25
THAWNG ASIAN GROCERY                85
THE CHEESECAKE FACTORY              25
THE HOME DEPOT                     125
USPS                               625
VICTORIA’S SECRET                   25
Name: FETCH_REWARDS_EARNED, dtype: int64

In [6]:
import pandas as pd
df = pd.read_csv (r'C:\Users\prati\OneDrive\Desktop\data class\capstone_project\FETCH REWARDS SUMMARY.csv')
#print(df)
business_name = [list(df.columns)]


df['TRANSACTION_DATE'] = pd.to_datetime(df['TRANSACTION_DATE']) # format to correct datetime
for rewards in df.index:
    if df.loc[rewards, 'FETCH_REWARDS_EARNED'] == 0: #remove rows where fetch rewards earned =0
        df.drop(rewards, inplace = True) #replace with new data 


total_number_of_items = df['NUMBER_OF_ITEMS'].sum()
TOTAL_AMOUNT_SPENT = df['TOTAL_AMOUNT_SPENT($)'].sum()
maximum_amt_spent = df['TOTAL_AMOUNT_SPENT($)'].max()
minimum_amt_spent = df['TOTAL_AMOUNT_SPENT($)'].min()
average_amt_spent = df['TOTAL_AMOUNT_SPENT($)'].mean()
number_of_trans = df['TRANSACTION_NUMBER'].count()


#calculations by specific store name

#total_spent_by_store_name = df.groupby(['STORE_NAME']).sum() # sum by each store

print(business_name)
print(f'Total number of items : {total_number_of_items}')
print(f'Total amount spent : $ {TOTAL_AMOUNT_SPENT}')
print(f'Maximum amount spent : ${maximum_amt_spent}')
print(f'Minimum amount spent : ${minimum_amt_spent}')
print(f'Average amount spent : ${average_amt_spent}')
print(f'total number of transaction : {number_of_trans}')

[['TRANSACTION_NUMBER', 'TRANSACTION_DATE', 'STORE_NAME', 'NUMBER_OF_ITEMS', 'TOTAL_AMOUNT_SPENT($)', 'FETCH_REWARDS_EARNED', 'SPECIAL_OFFER_BONUS(Y/N)', 'EXCEPTION']]
Total number of items : 815
Total amount spent : $ 6508.27
Maximum amount spent : $501.94
Minimum amount spent : $0.31
Average amount spent : $73.12662921348316
total number of transaction : 89